<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Login!{% endblock %}</title> {% block
stylesheets %}
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">
{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<style>
.img-rounded {
	margin-top: 4px;
	width: 100px;
	height: 100px;
}
</style>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<img alt="Brand" src="{{ asset('bundles/app/images/Logo.jpg') }}"
					class="img-rounded">
			</div>
		</div>
	</nav>
	{% block body %}{% endblock %} {% block javascripts %}{% endblock %}
</body>
</html>
